@use "variables";

.blog-section {
  .blog-title {
    .title-content-block {
      padding: 0 14rem;
      text-align: center;
      @media (max-width: 991.98px) {
        padding: 0 6rem;
      }

      @media (max-width: 767.98px) {
        padding: 0 1rem;
      }
    }
  }
}
