@use "variables";

.footer {
  background-color: variables.$secondary-color;
  h5 {
    margin-bottom: 0.8rem;
  }
  .footer-nav {
    li {
      margin-bottom: 0.3rem;
    }
    a {
      text-decoration: none;
      color: variables.$text-color;

      &:hover {
        color: variables.$btn-hover;
      }
    }
  }
  img {
    width: 150px;
  }
}
