@use "variables" as vars;

#header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 1030;
  background-color: vars.$transparent-color;
  transition: background-color 0.3s ease-in-out;

  &.scrolled {
    width: 100vw;
    background-color: vars.$secondary-color;
  }

  .logo img {
    max-width: 100px;
    height: auto;
  }

  .navbar-toggler {
    border: 0;
    padding: 0.5rem;
    position: relative;
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: currentColor;
    background-color: transparent; // Default state
    transition: all 0.2s ease; // Smooth transition for hover effects
    border-radius: 4px; // Optional rounded corners
    // Hover state for both normal and expanded states
    &:hover {
      background-color: rgba(230, 126, 34, 0.1);
      color: vars.$btn-hover;
    }

    .navbar-toggler-icon {
      background-image: none;
      transition: opacity 0.2s ease;

      &::before {
        content: "☰";
        font-size: 1.5rem;
        line-height: 1;
        display: block;
        color: inherit;
      }
    }

    &::after {
      content: "✕";
      position: absolute;
      font-size: 1.5rem;
      opacity: 0;
      transition: opacity 0.2s ease;
      line-height: 1;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      color: inherit;
    }

    &[aria-expanded="true"] {
      .navbar-toggler-icon {
        opacity: 0;
      }

      &::after {
        opacity: 1;
      }
    }
  }

  .navbar-collapse {
    max-width: 100%; // Constrain to viewport width
    overflow-x: hidden; // Hide horizontal overflow
    &.show {
      margin-top: -1rem;
      background-color: vars.$secondary-color;
      max-height: 70vh; /* Set a maximum height */
      overflow-y: auto; /* Make it scrollable when content exceeds height */
      overscroll-behavior: contain; /* Prevent scroll chaining */
    }
  }

  .navbar-nav {
    padding: 15px 0;
    display: flex;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap; // Allow items to wrap if necessary
    padding-left: 0; // Remove default padding
    padding-right: 0; // Remove default padding

    a {
      text-decoration: none;
      color: vars.$text-color;

      &:hover {
        color: vars.$primary-color;
      }
    }

    // .nav-contact a {
    //   margin-top: 0;
    //   color: vars.$pure-white;
    // }

    .current-menu-item a,
    .current-page-ancestor a {
      color: vars.$primary-color;
      font-weight: bold;
    }

    // .nav-contact a {
    //   margin-top: 0;
    //   color: vars.$pure-white;
    // }
  }
}
