.hero-section {
  min-height: 100vh;
  display: flex;
  align-items: center; // Vertically center the content

  .home-hero {
    justify-content: baseline;
  }

  .about-hero {
    justify-content: center;
  }
}
