.text-content {
  justify-content: baseline;
  display: flex;
  align-items: center;
}

.text-inner {
  max-width: 650px;
  width: 70%;
}

.text-inner-left {
  margin-right: auto; /* Push text to the left */
}

.text-inner-center {
  margin: 0 auto; /* Center the text container */
}

.home-hero {
  justify-content: baseline;
}

.about-hero {
  justify-content: center;
}
