.text-content {
  justify-content: baseline;
  min-height: 100vh;
  display: flex;
  align-items: center; /* Vertically center the content */
}

.text-inner {
  max-width: 600px;
  width: 60%;
}

.text-inner-left {
  margin-right: auto; /* Push text to the left */
}

.text-inner-center {
  margin: 0 auto; /* Center the text container */
}

.home-hero {
  justify-content: baseline;
}

.about-hero {
  justify-content: center;
}
