@use "variables";
.message {
  background-color: variables.$secondary-color;

  img {
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
  }

  h5,
  h6 {
    font-style: italic;
    font-weight: 200;
  }

  .message-content {
    position: relative;

    i {
      font-size: 8rem;
      opacity: 50%;
      position: absolute;
      bottom: -9rem;
      right: 0;

      @media (max-width: 1024px) {
        font-size: 6rem !important;
      }

      @media (max-width: 768px) {
        font-size: 4rem !important;
        bottom: -7rem !important;
        left: 15rem !important;
      }

      @media (max-width: 480px) {
        font-size: 3rem !important;
        bottom: -7rem !important;
        left: 10rem !important;
      }
    }
  }
}
