@use "variables";

#services {
  position: relative;
  z-index: 1; // Ensure this is above the hero section

  .service-box {
    position: absolute;
    width: 80%;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);
    right: 0;
    background-color: variables.$pure-white;
    padding: 50px;
    z-index: 2;
    box-shadow: variables.$card-shadow;
    border-radius: variables.$custome-borderradius;
    .card-grid {
      display: flex;
      justify-content: center;
      align-items: center;
      .card {
        background: variables.$transparent-color;
        height: 200px;

        .card-body {
          .icon-container {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            background-color: variables.$text-color;
            line-height: 50px;
            .icon-class {
              color: variables.$pure-white;
              font-size: 20px;
            }
          }
          .iconcard-text h5,
          p {
            color: variables.$text-color;
          }
        }
      }
    }
  }
}
